.contact-container {
    margin: 4rem e;
    position: relative;
}
.contact—content h5{
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.contact-content{
    display: flex;
    gap: 3rem;
}
#Cont h5 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

  
  